/* reset */
/* main variables */
body {
  margin: 0px;
  padding: 0px;
  font-family: "League Spartan", Arial, Helvetica, sans-serif;
  background-color: #fff;
  height: 100%;
  line-height: 1.6;
  position: relative;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #555555;
}

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input,
textarea {
  color: #333;
  font-family: "League Spartan", Arial, Helvetica, sans-serif;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
}

input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

td {
  margin: 0px;
  padding: 0px;
}

form {
  padding: 0px;
  margin: 0px;
}

a {
  color: #4BA40A;
  transition: all 0.3s;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover {
  color: #4BA40A;
}

a,
span,
div,
button {
  outline: none !important;
}

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@font-face {
  font-family: "icomoon";
  src: url("/static/fonts/icomoon.eot?r8ff77");
  src: url("/static/fonts/icomoon.eot?r8ff77#iefix") format("embedded-opentype"), url("/static/fonts/icomoon.ttf?r8ff77") format("truetype"), url("/static/fonts/icomoon.woff?r8ff77") format("woff"), url("/static/fonts/icomoon.svg?r8ff77#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fb:before {
  content: "\e902";
}

.icon-grid:before {
  content: "\e903";
}

.icon-instagram:before {
  content: "\e904";
}

.icon-mail:before {
  content: "\e905";
}

.icon-tw:before {
  content: "\e907";
}

.icon-youtube:before {
  content: "\e908";
}

.icon-arr:before {
  content: "\e900";
}

.icon-arrow:before {
  content: "\e901";
}

.icon-search:before {
  content: "\e906";
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  position: relative;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: inline-block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-disabled {
  display: none;
}

.slick-arrow {
  transition: all 0.3s linear;
  position: absolute;
  top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: #000;
  z-index: 30;
  font-size: 1.3rem;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: none;
  background: #EFF2FB;
  box-shadow: none;
}
.slick-arrow:hover {
  color: #fff;
  background: linear-gradient(92.19deg, #4BA40A 0%, #4BA40A 100%);
  box-shadow: 0 20px 20px rgba(75, 164, 10, 0.2);
}

.slick-disabled {
  visibility: hidden;
  opacity: 0;
}

.slick-prev {
  left: 3rem;
  transform: rotate(180deg);
}

.slick-next {
  right: 3rem;
}

.slick-dots {
  text-align: center;
  font-size: 0;
  margin: 0 0px;
  padding: 18px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}
.slick-dots li {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 0 7px;
  cursor: pointer;
}
.slick-dots li button {
  position: relative;
  transition: all 0.3s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 0;
  width: 13px;
  height: 13px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
}
.slick-dots li button:hover {
  background-color: #f1f69f;
}
.slick-dots .slick-active button {
  background-color: #f1f69f;
}



/*# sourceMappingURL=style.css.map */
