   <link rel="stylesheet" type="text/css" href="../static/css/style.css" class="styles"/>
   <link rel="stylesheet" type="text/css" href="../static/css/style_content.css" class="styles"/>
   <link rel="stylesheet" type="text/css" href="../static/css/style_footer.css" class="styles"/>
   <link rel="stylesheet" type="text/css" href="../static/css/style_header.css" class="styles"/>
   <link rel="stylesheet" type="text/css" href="../static/css/override.css" class="styles"/>
   <link rel="stylesheet" type="text/css" href="../static/css/theme.css" class="styles"/>